name: CI

on:
  push:
    branches: ['*']
  pull_request:
    branches: ['*']

jobs:
  build:
    strategy:
      matrix:
        platform: [ubuntu-latest, windows-latest]
        python-version: [3.8, 3.9, "3.10", "3.11"]
        exclude: [
          {platform: windows-latest, python-version: "3.9"},
          {platform: windows-latest, python-version: "3.10"}
        ]

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install packages
        run: |
          python -m pip install --upgrade pip wheel
          pip install '.[testing]'
      - name: Run mypy
        run: |
          mypy --install-types --non-interactive ./google_takeout_parser
      - name: Run pytest
        run: |
          pytest
      - name: Run flake8
        run: |
          flake8 ./google_takeout_parser
